openapi: 3.1.0
info:
  title: DarkPyonix Hub API (darkpyonix.dev)
  version: 0.1.0-draft.1
  summary: Device rendezvous, relay, share links and HTTPS for DarkPyonix.
  description: |
    **Status: Draft.** Every operation here is SPEC `FR-H*` in `Draft` state. It is published
    so that Ember and ash can design against it; it becomes `Agreed` after PROJECT Q1 (tunnel
    technology) and Q2 (sign-in) are decided.

    The hub connects a user's machines (the main server and its branch computers) and lets
    shared notebooks reach a dedicated manager, **without seeing their traffic**: devices agree
    on session keys end to end, and the hub only coordinates and, as a last resort, relays
    ciphertext (SPEC NFR-H1).

    Real-time channels are WebSockets. They appear here as `GET` operations answered with
    `101 Switching Protocols`; their message formats are described in each operation.
  license:
    name: MIT
    url: https://github.com/DarkPyonix/darkpyonix/blob/main/LICENSE
servers:
  - url: https://darkpyonix.dev
security:
  - accountToken: []
tags:
  - name: System
  - name: Accounts
    description: Sign-in (FR-H6).
  - name: Devices
    description: Machines registered to an account (FR-H1).
  - name: Connectivity
    description: Rendezvous for hole punching and the relay fallback (FR-H2, FR-H3).
  - name: Shares
    description: Public share links for ash (FR-H4).
  - name: Certificates
    description: HTTPS names for main servers (FR-H5).

paths:
  /health:
    get:
      tags: [System]
      operationId: getHubHealth
      summary: Liveness check
      security: []
      responses:
        "200":
          description: Up.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: {type: string, const: ok}

  /v1/auth/openai/start:
    get:
      tags: [Accounts]
      operationId: startOpenAiSignIn
      summary: Begin sign-in with an OpenAI account
      description: |
        Draft. Redirects to OpenAI's authorization page. Whether OpenAI offers this sign-in to
        third-party services, and on what terms, is PROJECT Q2.
      security: []
      parameters:
        - name: redirect_uri
          in: query
          required: true
          schema: {type: string, format: uri}
      responses:
        "302":
          description: Redirect to the identity provider.

  /v1/auth/openai/callback:
    get:
      tags: [Accounts]
      operationId: finishOpenAiSignIn
      summary: Finish sign-in and issue an account token
      security: []
      parameters:
        - {name: code, in: query, required: true, schema: {type: string}}
        - {name: state, in: query, required: true, schema: {type: string}}
      responses:
        "302":
          description: Redirect back to the client with a one-time code exchangeable for an account token.

  /v1/devices:
    get:
      tags: [Devices]
      operationId: listDevices
      summary: Devices of the signed-in account
      responses:
        "200":
          description: Devices and their last-seen connectivity.
          content:
            application/json:
              schema:
                type: object
                required: [devices]
                properties:
                  devices:
                    type: array
                    items: {$ref: "#/components/schemas/Device"}
    post:
      tags: [Devices]
      operationId: registerDevice
      summary: Register a machine
      description: The device proves possession of its private key by signing the hub's challenge.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/DeviceRegistration"}
      responses:
        "201":
          description: Registered.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Device"}
        "409":
          description: The public key is already registered.

  /v1/devices/{device_id}:
    parameters:
      - {name: device_id, in: path, required: true, schema: {type: string, pattern: "^d_[0-9a-f]{16}$"}}
    delete:
      tags: [Devices]
      operationId: removeDevice
      summary: Remove a device and revoke its credentials
      responses:
        "204":
          description: Removed.

  /v1/rendezvous:
    get:
      tags: [Connectivity]
      operationId: openRendezvous
      summary: Signaling channel (WebSocket)
      description: |
        A device keeps one rendezvous socket open. Messages are JSON:

        - `{"op":"offer","to":"d_…","candidates":[…],"pubkey":"…"}`: ask a peer to connect;
          candidates include the reflexive address observed by the hub's UDP endpoint
          (`darkpyonix.dev:3478`).
        - `{"op":"answer","to":"d_…","candidates":[…]}`: the peer's reply.
        - `{"op":"relay","session":"r_…"}`: hole punching failed; both sides open `/v1/relay/{session}`.

        Session keys are derived end to end from the devices' keys; the hub never sees them.
      responses:
        "101":
          description: Switching Protocols.

  /v1/relay/{session_id}:
    parameters:
      - {name: session_id, in: path, required: true, schema: {type: string, pattern: "^r_[0-9a-f]{16}$"}}
    get:
      tags: [Connectivity]
      operationId: openRelay
      summary: Relay fallback (WebSocket of opaque ciphertext frames)
      responses:
        "101":
          description: Switching Protocols.

  /v1/shares:
    post:
      tags: [Shares]
      operationId: publishShare
      summary: Publish a share link for a kernel on one of the account's devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id, share_id]
              properties:
                device_id: {type: string}
                share_id: {type: string, pattern: "^s_[0-9a-f]{16}$", description: The share created on the dedicated manager.}
      responses:
        "201":
          description: The public link. The share token travels in the URL fragment and never reaches the hub.
          content:
            application/json:
              schema:
                type: object
                required: [url]
                properties:
                  url: {type: string, example: "https://darkpyonix.dev/s/s_0f1e2d3c4b5a6978"}

  /v1/shares/{share_id}:
    parameters:
      - {name: share_id, in: path, required: true, schema: {type: string, pattern: "^s_[0-9a-f]{16}$"}}
    get:
      tags: [Shares]
      operationId: resolveShare
      summary: Resolve a share link to a route ash can open
      security: []
      responses:
        "200":
          description: How to reach the device that hosts the shared kernel.
          content:
            application/json:
              schema:
                type: object
                required: [device_id, route]
                properties:
                  device_id: {type: string}
                  route: {type: string, enum: [direct, relay]}
                  endpoint: {type: string, format: uri}
        "404":
          description: Unknown or unpublished share.
    delete:
      tags: [Shares]
      operationId: unpublishShare
      summary: Remove a published share link
      responses:
        "204":
          description: Removed.

  /v1/certificates:
    post:
      tags: [Certificates]
      operationId: requestCertificateName
      summary: Reserve `<name>.darkpyonix.dev` for a main server and answer its ACME DNS-01 challenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id, name]
              properties:
                device_id: {type: string}
                name: {type: string, pattern: "^[a-z0-9-]{3,32}$"}
                acme_txt: {type: string, description: The `_acme-challenge` TXT value the device's ACME client needs.}
      responses:
        "201":
          description: The name is reserved and the TXT record is published.
        "409":
          description: The name is taken.

components:
  securitySchemes:
    accountToken:
      type: http
      scheme: bearer
      description: Account token issued after sign-in, or a device token for device-originated calls.
  schemas:
    Device:
      type: object
      required: [device_id, name, role, public_key, created_at]
      properties:
        device_id: {type: string, pattern: "^d_[0-9a-f]{16}$"}
        name: {type: string}
        role: {type: string, enum: [main_server, computer]}
        public_key: {type: string, description: Ed25519 public key, base64.}
        created_at: {type: string, format: date-time}
        last_seen: {type: [string, "null"], format: date-time}
        online: {type: boolean}
    DeviceRegistration:
      type: object
      required: [name, role, public_key, challenge, signature]
      properties:
        name: {type: string, maxLength: 64}
        role: {type: string, enum: [main_server, computer]}
        public_key: {type: string}
        challenge: {type: string}
        signature: {type: string}
