openapi: 3.1.0
info:
  title: DarkPyonix Hub API (api.darkpyonix.dev)
  version: 0.4.0
  summary: GitHub accounts, device registry, address directory, share links, HTTPS names and hosted ash notebooks for DarkPyonix; the iroh relay on its own host.
  description: |
    The hub connects a user's machines (the main server and its branch computers) and lets
    shared notebooks reach a dedicated manager, **without seeing their traffic** (SPEC NFR-H1).

    **Hosts** (SPEC §10, INTENT D15 and its 2026-10-03 amendment, a proposal):

    - `https://darkpyonix.dev` (the root) is the **front**: the landing page and the ash web
      app, static files only (SPEC FR-H12). It is not part of this API. Its pages are
      `/n/{notebook_id}` (hosted notebooks), `/s/{share_id}#<token>` (share links), `/link`
      (device approval) and `/new`; they call this API from the browser.
    - `https://api.darkpyonix.dev` is a **Cloudflare Worker** (`hub/worker/`, TypeScript, D1
      for metadata, a private R2 bucket for notebook content). It serves GitHub sign-in, the
      device registry, the address directory, share resolution, HTTPS names (ACME TXT through
      the Cloudflare DNS API) and hosted notebooks. It serves no HTML front.
    - `https://relay.darkpyonix.dev` is the **relay host** (`hub/server/`, the `iroh-relay`
      server crate). Workers cannot accept UDP, and iroh's QUIC address discovery (QAD) needs
      UDP 7842, so the relay runs where it can. Operations served there carry a path-level
      `servers` entry. The relay asks the Worker whom to admit
      (`/internal/v1/relay/admit`), and the Worker tells the relay to drop removed devices
      (`/admin/v1/disconnect`).

    The peer-to-peer transport is **iroh 1.x** (PROJECT Q1). A device *is* an iroh endpoint:
    its id is the endpoint id, the lowercase hex of its ed25519 public key.
    `PUT`/`GET /pkarr/{key}` is iroh's pkarr relay protocol, so the stock `PkarrPublisher`
    and `PkarrResolver` work against `https://api.darkpyonix.dev/pkarr`.

    **Accounts (FR-H6).** An account is a GitHub user (its numeric user id). People sign in
    in a browser (`/auth/login`, OAuth authorization code with PKCE S256 and state) and get a
    session cookie. OpenAI / Sign in with ChatGPT is not a hub feature; it stays in the
    user's own ember server.

    **Devices (FR-H1).** Roles: `main_server` (account rights, may hold names), `computer`
    (runs kernels; may publish shares), `client` (only connects to other devices, e.g. a
    phone; may not publish shares or hold names). The `client` role is provisional.
    An account has at most one active `main_server` (Ember INTENT D3); a new one joins only
    as an explicit replacement of the current one (`replace` on approval).
    A device asks to join with `POST /v1/device-links`, a signed-in person
    (or the account's main server) approves the user code, and the device claims a device
    token by signing the challenge with its iroh key.

    **Credentials.** `Authorization: Bearer <device token>`, or the `__Host-dp_session` cookie
    for a signed-in browser. Where a stock iroh client cannot set headers (`GET /pkarr/{key}`)
    a **resolve token** (`dpr_...`, read-only: it reads same-account address records and
    nothing else) goes in the `token` query parameter; device tokens are never accepted in
    a query (SPEC NFR-H2). The Worker never logs request URLs. Cookie-authenticated writes must come
    from the front, `https://darkpyonix.dev` (`Origin`), else 403; user name subdomains
    (`<name>.darkpyonix.dev`) are other people's servers and are refused too. Tokens and session ids are stored
    hashed. "Account rights" means a signed-in session or the account's `main_server` device.

    **Browsers (FR-H13).** The session cookie is host-only on `api.darkpyonix.dev`
    (`__Host-dp_session`, `SameSite=Lax`); the front calls this API with
    `credentials: "include"`. CORS is open to exactly the front origin (plus operator-set dev
    origins): `Access-Control-Allow-Origin: <origin>`, `Access-Control-Allow-Credentials: true`,
    `Vary: Origin`, `Access-Control-Expose-Headers: ETag`. Every path also answers `OPTIONS`
    preflights (204) for that origin; preflights are not listed per path. No CORS headers for
    any other origin, including `null` (sandboxed notebook content, SPEC NFR-H3).

    **Hosted notebooks (FR-H14..H19).** A notebook (`n_` + 32 hex) belongs to one account and
    holds immutable, numbered versions. A version is one notebook file (`.py`/`.pynb`,
    docs/FORMAT.md) and optionally one run record (`.ipynb` from `__runs__`). Visibility is
    `private`, `unlisted` or `public`. The hub stores and serves notebooks; it never runs
    them. A notebook may point at a share (`share_id`) so that a link with the share token in
    its fragment opens the owner's live kernel through the relay.

    **Errors.** Error bodies are `Error` objects. Every 401 carries a `code`:
    `device_removed` when the device token belongs to a removed device (stop retrying, drop
    the token), `invalid_credentials` for anything else (missing, unknown or expired).
  license:
    name: MIT
    url: https://github.com/DarkPyonix/darkpyonix/blob/main/LICENSE
servers:
  - url: https://api.darkpyonix.dev
security:
  - device: []
  - session: []
tags:
  - name: System
  - name: Accounts
    description: GitHub sign-in and browser sessions (FR-H6).
  - name: Devices
    description: iroh endpoints joined to an account through device links (FR-H1).
  - name: Directory
    description: Signed iroh address records, iroh pkarr relay protocol (FR-H2).
  - name: Relay
    description: The iroh relay on relay.darkpyonix.dev, and the Worker callbacks it uses (FR-H3).
  - name: Shares
    description: Share links resolved to the hosting device (FR-H4). The share page itself is on the front.
  - name: Notebooks
    description: Hosted ash notebooks, their versions and visibility (FR-H14..H19).
  - name: Names
    description: "`<name>.darkpyonix.dev` and ACME DNS-01 challenges (FR-H5)."

paths:
  /health:
    get:
      tags: [System]
      operationId: getHubHealth
      summary: Liveness check
      security: []
      responses:
        "200":
          description: Up.
          content:
            application/json:
              schema:
                type: object
                required: [status, version]
                properties:
                  status: {type: string, const: ok}
                  version: {type: string}

  /v1/config:
    get:
      tags: [System]
      operationId: getHubConfig
      summary: Where the relays and the pkarr directory are (FR-H8)
      description: |
        Public and cacheable (5 minutes). Clients read their relay map and pkarr URL from here
        instead of building them in. `api_version` is bumped only for a breaking change under
        `/v1`.
      security: []
      responses:
        "200":
          description: The hub's configuration.
          content:
            application/json:
              schema:
                type: object
                required: [api_version, hub_version, api_url, front_url, relay_urls, pkarr_url, link_url]
                properties:
                  api_version: {type: integer, const: 1}
                  hub_version: {type: string}
                  api_url: {type: string, format: uri, example: "https://api.darkpyonix.dev", description: This API's base URL.}
                  front_url: {type: string, format: uri, example: "https://darkpyonix.dev", description: "The front (ash web app); share and notebook links live here."}
                  relay_urls:
                    type: array
                    items: {type: string}
                    description: iroh relays for the client's RelayMap.
                    example: ["https://relay.darkpyonix.dev/"]
                  pkarr_url:
                    type: string
                    description: Base URL for iroh's PkarrPublisher and PkarrResolver (append `?token=<resolve token>` to resolve).
                    example: "https://api.darkpyonix.dev/pkarr"
                  link_url: {type: string, example: "https://darkpyonix.dev/link", description: The device approval page on the front.}

  # ------------------------------------------------------------------ accounts (FR-H6)

  /auth/login:
    get:
      tags: [Accounts]
      operationId: startLogin
      summary: Start GitHub sign-in (redirects to GitHub)
      description: |
        Redirects to `https://github.com/login/oauth/authorize` with `client_id`,
        `redirect_uri=https://api.darkpyonix.dev/auth/callback`, a random `state`, and a PKCE
        `code_challenge` (S256). No scope is requested: only the public profile is read. The
        state is also set in the `__Host-dp_oauth` cookie (10 minutes).
      security: []
      parameters:
        - name: return_to
          in: query
          required: false
          description: A path on the front (`https://darkpyonix.dev`) to return to after sign-in (anything else becomes `/`).
          schema: {type: string}
      responses:
        "302":
          description: To GitHub.
        "503":
          description: GitHub sign-in is not configured on this hub.

  /auth/callback:
    get:
      tags: [Accounts]
      operationId: finishLogin
      summary: GitHub redirects here; sets the session cookie
      description: |
        Checks that `state` matches the `__Host-dp_oauth` cookie and an unexpired, unused
        transaction; exchanges `code` with the PKCE verifier; reads `GET https://api.github.com/user`;
        revokes the GitHub token; finds or creates the account for that GitHub user id; sets
        `__Host-dp_session` (host-only on this API host, HttpOnly, Secure, SameSite=Lax,
        30 days) and redirects to `https://darkpyonix.dev` + `return_to` (FR-H13).
      security: []
      parameters:
        - {name: code, in: query, required: false, schema: {type: string}}
        - {name: state, in: query, required: false, schema: {type: string}}
        - {name: error, in: query, required: false, schema: {type: string}}
      responses:
        "302":
          description: Signed in; to the front at `return_to`.
        "400":
          description: Missing code or state, state not bound to this browser, unknown/used/expired state, or GitHub refused the code.
        "403":
          description: This GitHub user may not create an account here (operator allowlist).
        "502":
          description: GitHub did not return the user.
        "503":
          description: GitHub sign-in is not configured on this hub.

  /auth/logout:
    post:
      tags: [Accounts]
      operationId: logout
      summary: End the browser session
      security: []
      responses:
        "204":
          description: Signed out (also when there was no session).
        "403":
          description: Cross-origin request.

  /v1/me:
    get:
      tags: [Accounts]
      operationId: getMe
      summary: The caller's account
      responses:
        "200":
          description: The account.
          content:
            application/json:
              schema:
                type: object
                required: [account_id, github_login, via, endpoint_id]
                properties:
                  account_id: {type: string, pattern: "^a_[0-9a-f]{16}$"}
                  github_login: {type: string, description: Display only; the account is keyed by the GitHub user id.}
                  via: {type: string, enum: [session, device]}
                  endpoint_id: {type: [string, "null"], description: The calling device, when `via` is `device`.}
        "401":
          description: No valid session or device token; `code` is `device_removed` for a removed device's token.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}

  /v1/me/resolve-token:
    post:
      tags: [Accounts]
      operationId: rotateResolveToken
      summary: Issue a new read-only resolve token for the calling device (NFR-H2)
      description: |
        Device token in the `Authorization` header only. The device's previous resolve token
        stops working at once.
      security:
        - device: []
      responses:
        "201":
          description: The new resolve token, shown once.
          content:
            application/json:
              schema:
                type: object
                required: [resolve_token]
                properties:
                  resolve_token: {type: string}
        "401":
          description: No valid device token in the header.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}

  # ------------------------------------------------------------------ devices (FR-H1)

  /v1/device-links:
    post:
      tags: [Devices]
      operationId: createDeviceLink
      summary: A device asks to join an account
      description: |
        Unauthenticated (rate-limited). Show `user_code` (or open `verification_uri_complete`)
        to a person who is signed in, or hand it to the account's main server. Poll
        `POST /v1/device-links/{link_id}/token` every `interval` seconds until `expires_at`
        (15 minutes).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpoint_id, name, role]
              properties:
                endpoint_id: {type: string, pattern: "^[0-9a-f]{64}$"}
                name: {type: string, minLength: 1, maxLength: 64}
                role: {type: string, enum: [main_server, computer, client]}
      responses:
        "201":
          description: Link created.
          content:
            application/json:
              schema:
                type: object
                required: [link_id, user_code, verification_uri, verification_uri_complete, challenge, interval, expires_at]
                properties:
                  link_id: {type: string, pattern: "^l_[0-9a-f]{32}$"}
                  user_code: {type: string, pattern: "^[BCDFGHJKLMNPQRSTVWXZ]{4}-[BCDFGHJKLMNPQRSTVWXZ]{4}$"}
                  verification_uri: {type: string, example: "https://darkpyonix.dev/link"}
                  verification_uri_complete: {type: string, example: "https://darkpyonix.dev/link?code=BCDF-GHJK"}
                  challenge: {type: string, pattern: "^[0-9a-f]{64}$"}
                  interval: {type: integer, description: Seconds between polls.}
                  expires_at: {type: integer, description: Unix seconds.}
        "400":
          description: Malformed endpoint id, name or role.
        "409":
          description: This endpoint id is registered, or was removed and its owner has not re-admitted it (FR-H11).
        "429":
          description: Too many link requests from this address.
        "503":
          description: Could not allocate a user code.

  /v1/device-links/{link_id}:
    parameters:
      - name: link_id
        in: path
        required: true
        schema: {type: string, pattern: "^l_[0-9a-f]{32}$"}
    get:
      tags: [Devices]
      operationId: getDeviceLink
      summary: A device link's status, for a device that restarted while waiting
      description: |
        No credentials: the link id is 128 random bits known only to the device. The
        challenge is not secret (claiming needs the endpoint's key) and no token is returned.
        Expired links are deleted hourly, after which this is 404.
      security: []
      responses:
        "200":
          description: The link.
          content:
            application/json:
              schema:
                type: object
                required: [link_id, status, endpoint_id, name, role, user_code, verification_uri_complete, challenge, interval, expires_at]
                properties:
                  link_id: {type: string}
                  status: {type: string, enum: [pending, approved, denied, claimed, expired]}
                  endpoint_id: {type: string, pattern: "^[0-9a-f]{64}$"}
                  name: {type: string}
                  role: {type: string, enum: [main_server, computer, client]}
                  user_code: {type: string}
                  verification_uri_complete: {type: string}
                  challenge: {type: string, pattern: "^[0-9a-f]{64}$"}
                  interval: {type: integer}
                  expires_at: {type: integer}
        "404":
          description: Unknown link, or an expired one already deleted.

  /v1/device-links/{link_id}/token:
    parameters:
      - name: link_id
        in: path
        required: true
        schema: {type: string, pattern: "^l_[0-9a-f]{32}$"}
    post:
      tags: [Devices]
      operationId: claimDeviceToken
      summary: The device polls for, and claims, its device token
      description: |
        The body proves possession of the endpoint's secret key: hex of the ed25519 signature
        (iroh `SecretKey::sign`) over the UTF-8 bytes of
        `darkpyonix-hub/v2/link\n<link_id>\n<challenge>`. Checked on every poll.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [signature]
              properties:
                signature: {type: string, pattern: "^[0-9a-f]{128}$"}
      responses:
        "201":
          description: Approved; the device token is shown once.
          content:
            application/json:
              schema:
                type: object
                required: [device, device_token, resolve_token]
                properties:
                  device: {$ref: "#/components/schemas/Device"}
                  device_token: {type: string, description: "`dpd_...`; headers only."}
                  resolve_token: {type: string, description: "`dpr_...`; read-only, for `GET /pkarr/{key}?token=` (NFR-H2)."}
        "202":
          description: Not decided yet; poll again after `interval`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: {type: string, const: pending}
        "400":
          description: Malformed body or the signature does not verify.
        "403":
          description: The link was denied.
        "404":
          description: Unknown, expired or already claimed link.
        "409":
          description: "The endpoint id was registered meanwhile; or `code` `main_server_exists`: another main server joined the account after this `main_server` link was approved (the link becomes `denied`)."
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}

  /v1/link-codes/{user_code}:
    parameters:
      - name: user_code
        in: path
        required: true
        description: As shown by the device; case and the dash are not significant.
        schema: {type: string}
    get:
      tags: [Devices]
      operationId: getLinkCode
      summary: What device a pending user code would let in
      description: Account rights required.
      responses:
        "200":
          description: The pending request.
          content:
            application/json:
              schema:
                type: object
                required: [user_code, endpoint_id, name, role, expires_at, current_main_server]
                properties:
                  user_code: {type: string}
                  endpoint_id: {type: string, pattern: "^[0-9a-f]{64}$"}
                  name: {type: string}
                  role: {type: string, enum: [main_server, computer, client]}
                  expires_at: {type: integer}
                  current_main_server:
                    description: For a `main_server` link, the account's current main server, which approving would replace (FR-H1); null if there is none or the link is for another role.
                    oneOf:
                      - type: object
                        required: [endpoint_id, name]
                        properties:
                          endpoint_id: {type: string, pattern: "^[0-9a-f]{64}$"}
                          name: {type: string}
                      - {type: "null"}
        "401":
          description: No valid session or device token.
        "403":
          description: A computer's device token (needs account rights).
        "404":
          description: Unknown, decided or expired code.
        "429":
          description: Too many code lookups or decisions from this account.
    post:
      tags: [Devices]
      operationId: decideLinkCode
      summary: Approve or deny a device into the caller's account
      description: |
        Account rights required. Approving adds the device to the caller's account.
        Approving a link that asks for the `main_server` role needs a signed-in browser
        session; a main server's device token gets 403 for it (it may still deny it), so a
        leaked main server token cannot mint more devices with account rights.

        An account has one main server (FR-H1, Ember INTENT D3). If it has one, approving a
        `main_server` link must name it in `replace`; the claim then removes it (its token gets
        401 `device_removed`, it is listed in `/v1/removed-devices`, its shares and address
        record go, its relay connections drop) and moves its names to the new main server, in
        one transaction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve]
              properties:
                approve: {type: boolean}
                replace:
                  type: string
                  pattern: "^[0-9a-f]{64}$"
                  description: "The account's current main server, when approving a `main_server` link replaces it. Only with `approve` true on a `main_server` link."
      responses:
        "204":
          description: Decided.
        "400":
          description: Malformed body.
        "401":
          description: No valid session or device token.
        "403":
          description: A computer's device token; a device token approving a `main_server` link or a re-admitted key's link (FR-H11); a session of another account for a re-admitted key; or a cross-origin cookie request.
        "404":
          description: Unknown, decided or expired code.
        "409":
          description: "`code` `main_server_exists`: approving a `main_server` link without `replace` while the account has a main server. `code` `replace_mismatch`: `replace` is not the account's current main server."
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
        "429":
          description: Too many code lookups or decisions from this account.

  /v1/devices:
    get:
      tags: [Devices]
      operationId: listDevices
      summary: Devices of the caller's account, with change notification by ETag and long-poll
      description: |
        The response carries a weak `ETag` for the account's device list; it changes when a
        device is added, restored, removed, renamed, reports its app, or goes on/offline
        (not for `last_seen` alone). Send it back as `If-None-Match` to get 304 when nothing
        changed. Add `wait` to long-poll: the hub holds the request until the list changes
        (200) or `wait` seconds pass (304), checking about every 2 seconds (FR-H9, provisional).
      parameters:
        - name: If-None-Match
          in: header
          required: false
          schema: {type: string, example: 'W/"v12"'}
        - name: wait
          in: query
          required: false
          description: Seconds to wait for a change when `If-None-Match` matches. 0 to 25.
          schema: {type: integer, minimum: 0, maximum: 25}
      responses:
        "200":
          description: Devices, oldest first. Removed devices are not listed.
          headers:
            ETag:
              schema: {type: string, example: 'W/"v12"'}
          content:
            application/json:
              schema:
                type: object
                required: [devices]
                properties:
                  devices:
                    type: array
                    items: {$ref: "#/components/schemas/Device"}
        "304":
          description: Unchanged since `If-None-Match` (after waiting, if `wait` was given).
          headers:
            ETag:
              schema: {type: string}
        "400":
          description: "`wait` is not an integer from 0 to 25."
        "401":
          description: No valid session or device token; `code` is `device_removed` for a removed device's token (also when the waiting device was removed meanwhile).
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}

  /v1/devices/{endpoint_id}:
    parameters:
      - $ref: "#/components/parameters/EndpointId"
    get:
      tags: [Devices]
      operationId: getDevice
      summary: One device of the caller's account
      responses:
        "200":
          description: The device.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Device"}
        "401":
          description: No valid session or device token.
        "404":
          description: No such device in the caller's account.
    patch:
      tags: [Devices]
      operationId: updateDevice
      summary: Rename a device, or set the app it reports
      description: |
        Fields left out are unchanged. `name`: account rights or the device's own token.
        `app` (FR-H10, provisional): the device's own token only; `null` clears it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              additionalProperties: false
              properties:
                name: {type: string, minLength: 1, maxLength: 64}
                app:
                  oneOf:
                    - {$ref: "#/components/schemas/DeviceApp"}
                    - {type: "null"}
      responses:
        "200":
          description: The updated device.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Device"}
        "400":
          description: Malformed body, unknown field or bad value.
        "401":
          description: No valid session or device token.
        "403":
          description: Another device's token without account rights; anyone but the device itself setting `app`; or a cross-origin cookie request.
        "404":
          description: No such device in the caller's account.
    delete:
      tags: [Devices]
      operationId: removeDevice
      summary: Remove a device; revokes its token and key, its names, shares and record, and drops its relay connections
      description: |
        A signed-in session removes any device of the account. A main server's token removes
        `computer` and `client` devices and itself (an account has no other main server; one
        is replaced only through a session-approved link, FR-H1). Any device's own token
        removes that device (a device leaving its account by itself).
      responses:
        "204":
          description: Removed.
        "401":
          description: No valid session or device token.
        "403":
          description: Another device's token without account rights, or a cross-origin cookie request.
        "404":
          description: No such device in the account.

  /v1/devices/{endpoint_id}/readmit:
    parameters:
      - $ref: "#/components/parameters/EndpointId"
    post:
      tags: [Devices]
      operationId: readmitDevice
      summary: Let a removed key join again through a device link (FR-H11, provisional)
      description: |
        A signed-in browser session of the account the device was removed from; device
        tokens (even the main server's) get 403. For 15 minutes the key may start a device
        link; that link must also be approved by a session of this account. Claiming it
        restores the device with new tokens.
      security:
        - session: []
      responses:
        "200":
          description: Re-admission open.
          content:
            application/json:
              schema:
                type: object
                required: [endpoint_id, expires_at]
                properties:
                  endpoint_id: {type: string}
                  expires_at: {type: integer, description: Unix seconds; start the device link before this.}
        "401":
          description: No valid session or device token.
        "403":
          description: A device token, or a cross-origin cookie request.
        "404":
          description: No device with this key was ever in the caller's account.
        "409":
          description: The device is not removed.

  /v1/removed-devices:
    get:
      tags: [Devices]
      operationId: listRemovedDevices
      summary: Removed devices of the caller's account, to pick one to re-admit (FR-H11, provisional)
      description: |
        A signed-in browser session only; device tokens (even the main server's) get 403.
        Newest removal first, at most 100. A re-admitted device that claimed its link is back
        in `GET /v1/devices` and no longer here.
      security:
        - session: []
      responses:
        "200":
          description: Removed devices, most recently removed first.
          content:
            application/json:
              schema:
                type: object
                required: [devices]
                properties:
                  devices:
                    type: array
                    maxItems: 100
                    items: {$ref: "#/components/schemas/RemovedDevice"}
        "401":
          description: No valid session or device token.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
        "403":
          description: A device token.

  # ------------------------------------------------------------------ directory (FR-H2)

  /v1/devices/{endpoint_id}/addresses:
    parameters:
      - $ref: "#/components/parameters/EndpointId"
    get:
      tags: [Directory]
      operationId: getDeviceAddresses
      summary: The device's latest signed address record, decoded
      description: Same data as `GET /pkarr/{key}`, as JSON. Same-account callers only.
      responses:
        "200":
          description: The record.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/AddressRecord"}
        "401":
          description: No valid session or device token.
        "404":
          description: No such device in the caller's account, or it has published nothing yet.

  /pkarr/{key}:
    parameters:
      - name: key
        in: path
        required: true
        description: The endpoint's public key in z-base-32 (52 characters), as iroh's pkarr client sends it.
        schema: {type: string, pattern: "^[ybndrfg8ejkmcpqxot1uwisza345h769]{52}$"}
    put:
      tags: [Directory]
      operationId: publishAddressRecord
      summary: Publish a signed pkarr packet (iroh pkarr relay protocol)
      description: |
        Body: the pkarr relay payload, `signature (64) || timestamp_us big-endian (8) || DNS packet`
        (at most 1000 bytes of DNS). The signature (ed25519 over the BEP 44 form
        `3:seqi<timestamp_us>e1:v<len>:<dns>`) authenticates the request; no token is needed.
        Only registered, non-removed devices are accepted, and only packets newer than the
        stored one.
      security: []
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: {type: string, format: binary}
      responses:
        "204":
          description: Stored.
        "400":
          description: Malformed key or payload, or the signature does not verify.
        "403":
          description: The key is not a registered device.
        "409":
          description: Not newer than the stored packet.
        "429":
          description: Publishing too often.
    get:
      tags: [Directory]
      operationId: resolveAddressRecord
      summary: Fetch a device's signed pkarr packet (iroh pkarr relay protocol)
      description: |
        Requires a resolve token, device token or session of the same account. For iroh's
        stock `PkarrResolver`, configure the URL as
        `https://api.darkpyonix.dev/pkarr?token=<resolve token>` (iroh appends the key as a path
        segment and keeps the query). Only resolve tokens are accepted in the query (NFR-H2).
      parameters:
        - name: token
          in: query
          required: false
          description: A resolve token (`dpr_...`). A device token here is refused (401 `invalid_credentials`).
          schema: {type: string}
      responses:
        "200":
          description: The pkarr relay payload; verify it with the key.
          content:
            application/octet-stream:
              schema: {type: string, format: binary}
        "400":
          description: Malformed key.
        "401":
          description: No valid resolve token, session or device token (a device token in the query counts as none); `code` is `device_removed` for a removed device's token.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
        "404":
          description: Unknown key, another account's device, or nothing published.

  # ------------------------------------------------------------------ relay (FR-H3)

  /relay:
    servers:
      - url: https://relay.darkpyonix.dev
    get:
      tags: [Relay]
      operationId: openRelay
      summary: iroh relay (WebSocket upgrade, iroh relay protocol), on the relay host
      description: |
        Served by the `iroh-relay` crate on the relay host. The relay handshake proves the
        client's endpoint id; the relay then asks `POST https://api.darkpyonix.dev/internal/v1/relay/admit`
        (with the auth token the client presented, if any) and may cache an allow for
        `cache_secs`. Admitted: registered, non-removed devices; or any endpoint presenting
        a valid guest relay pass from `GET /v1/shares/{share_id}` as `Authorization: Bearer`
        or `?token=`.
      security: []
      responses:
        "101":
          description: Switching Protocols.
        "400":
          description: Not a valid relay upgrade request.

  /ping:
    servers:
      - url: https://relay.darkpyonix.dev
    get:
      tags: [Relay]
      operationId: relayProbe
      summary: HTTPS latency probe used by iroh's net report, on the relay host
      security: []
      responses:
        "200":
          description: Empty.

  /generate_204:
    servers:
      - url: https://relay.darkpyonix.dev
      - url: http://relay.darkpyonix.dev
    get:
      tags: [Relay]
      operationId: captivePortalProbe
      summary: Captive portal check used by iroh, on the relay host
      description: "Echoes `X-Iroh-Challenge` as `X-Iroh-Response: response <challenge>`. Also served on plain HTTP port 80. QAD is QUIC on UDP 7842 of the same host (not HTTP)."
      security: []
      responses:
        "204":
          description: No content.

  /admin/v1/disconnect:
    servers:
      - url: https://relay.darkpyonix.dev
    post:
      tags: [Relay]
      operationId: relayDisconnect
      summary: The Worker tells the relay host to drop a removed device's connections
      security:
        - relaySecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpoint_id]
              properties:
                endpoint_id: {type: string, pattern: "^[0-9a-f]{64}$"}
      responses:
        "204":
          description: Dropped (or it was not connected).
        "400":
          description: Malformed body.
        "401":
          description: Relay secret missing or wrong.

  /internal/v1/relay/admit:
    post:
      tags: [Relay]
      operationId: relayAdmit
      summary: The relay host asks whether to admit an endpoint
      security:
        - relaySecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpoint_id]
              properties:
                endpoint_id: {type: string, pattern: "^[0-9a-f]{64}$", description: Proven by the relay handshake.}
                token: {type: [string, "null"], description: The auth token the client presented, if any.}
      responses:
        "200":
          description: The decision. Registered devices also get their `last_seen` updated.
          content:
            application/json:
              schema:
                type: object
                required: [allow, cache_secs]
                properties:
                  allow: {type: boolean}
                  kind: {type: string, enum: [device, guest]}
                  reason: {type: string}
                  cache_secs: {type: integer, description: How long the relay may reuse this answer for new connections (0 = do not cache).}
        "400":
          description: Malformed body.
        "401":
          description: Relay secret missing or wrong.

  /internal/v1/relay/presence:
    post:
      tags: [Relay]
      operationId: relayPresence
      summary: The relay host reports that an endpoint's first connection opened or its last one closed
      security:
        - relaySecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpoint_id, online]
              properties:
                endpoint_id: {type: string, pattern: "^[0-9a-f]{64}$"}
                online: {type: boolean}
      responses:
        "204":
          description: Recorded (ignored for unknown or removed endpoints).
        "400":
          description: Malformed body.
        "401":
          description: Relay secret missing or wrong.

  # ------------------------------------------------------------------ shares (FR-H4)

  /v1/shares:
    post:
      tags: [Shares]
      operationId: publishShare
      summary: Publish a share hosted by the calling device
      description: Requires the device token of the hosting device (the dedicated manager's machine).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [share_id]
              properties:
                share_id: {type: string, pattern: "^s_[0-9a-f]{16}$", description: The share created on the dedicated manager.}
      responses:
        "201":
          description: Published (also when this device had already published it). The share token travels in the URL fragment and never reaches the hub.
          content:
            application/json:
              schema:
                type: object
                required: [share_id, url]
                properties:
                  share_id: {type: string}
                  url: {type: string, example: "https://darkpyonix.dev/s/s_0f1e2d3c4b5a6978"}
        "400":
          description: Malformed share id.
        "401":
          description: Missing or invalid device token.
        "403":
          description: A `client` device (it hosts nothing to share).
        "409":
          description: The share id is published by another device.

  /v1/shares/{share_id}:
    parameters:
      - $ref: "#/components/parameters/ShareId"
    get:
      tags: [Shares]
      operationId: resolveShare
      summary: Resolve a share to its hosting device, with a guest relay pass
      security: []
      responses:
        "200":
          description: How to reach the hosting device. ash dials `endpoint_id` via `relay_url` with `relay_token`.
          content:
            application/json:
              schema:
                type: object
                required: [share_id, endpoint_id, relay_url, relay_token, relay_token_expires_at]
                properties:
                  share_id: {type: string}
                  endpoint_id: {type: string, pattern: "^[0-9a-f]{64}$"}
                  relay_url: {type: string, format: uri, description: "The device's published home relay, or https://relay.darkpyonix.dev/."}
                  relay_token: {type: string, description: Guest relay pass (10 minutes).}
                  relay_token_expires_at: {type: integer, description: Unix seconds.}
        "404":
          description: Unknown or unpublished share, or its device was removed.
    delete:
      tags: [Shares]
      operationId: unpublishShare
      summary: Remove a published share (its guest passes stop working)
      description: The hosting device's token, or account rights.
      responses:
        "204":
          description: Removed.
        "401":
          description: No valid session or device token.
        "403":
          description: Cross-origin cookie request.
        "404":
          description: No such share in the caller's reach.

  # ------------------------------------------------------------------ notebooks (FR-H14..H19)

  /v1/notebooks:
    get:
      tags: [Notebooks]
      operationId: listMyNotebooks
      summary: The caller's account's notebooks, every visibility (FR-H15)
      responses:
        "200":
          description: Newest first.
          content:
            application/json:
              schema:
                type: object
                required: [notebooks]
                properties:
                  notebooks:
                    type: array
                    items: {$ref: "#/components/schemas/Notebook"}
        "401":
          description: No valid session or device token.
    post:
      tags: [Notebooks]
      operationId: createNotebook
      summary: Create an empty notebook (FR-H14)
      description: |
        A signed-in session, or the device token of a `main_server` or `computer` device of the
        account. The id is 128 random bits, since an `unlisted` notebook is reachable by anyone
        who knows it. Visibility defaults to `private`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              additionalProperties: false
              properties:
                title: {type: string, minLength: 1, maxLength: 120}
                visibility: {$ref: "#/components/schemas/Visibility"}
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Notebook"}
        "400":
          description: Malformed body.
        "401":
          description: No valid session or device token.
        "403":
          description: A `client` device, or a cross-origin cookie request.
        "409":
          description: "`quota_exceeded` (FR-H19)."
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
        "429":
          description: Too many notebooks created this minute (FR-H19).

  /v1/users/{github_login}/notebooks:
    parameters:
      - name: github_login
        in: path
        required: true
        schema: {type: string, pattern: "^[A-Za-z0-9](?:[A-Za-z0-9-]{0,38})$"}
    get:
      tags: [Notebooks]
      operationId: listPublicNotebooks
      summary: A user's `public` notebooks (FR-H15)
      security: []
      responses:
        "200":
          description: Newest first; `public` only, never `unlisted`, `private` or taken down.
          content:
            application/json:
              schema:
                type: object
                required: [notebooks]
                properties:
                  notebooks:
                    type: array
                    items: {$ref: "#/components/schemas/Notebook"}
        "404":
          description: No such user on this hub.
        "429":
          description: Too many anonymous reads (FR-H19).

  /v1/notebooks/{notebook_id}:
    parameters:
      - $ref: "#/components/parameters/NotebookId"
    get:
      tags: [Notebooks]
      operationId: getNotebook
      summary: A notebook and its versions
      description: |
        Anyone for `public` and `unlisted` (the latter with `X-Robots-Tag: noindex`); the
        owning account for `private`. A notebook the caller may not read is 404, never 403.
      security: [{}, {device: []}, {session: []}]
      responses:
        "200":
          description: The notebook.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Notebook"
                  - type: object
                    required: [versions]
                    properties:
                      versions:
                        type: array
                        description: Newest first.
                        items: {$ref: "#/components/schemas/NotebookVersion"}
        "404":
          description: Unknown, deleted, taken down (for others than the owner), or not readable by the caller.
        "429":
          description: Too many anonymous reads (FR-H19).
    patch:
      tags: [Notebooks]
      operationId: updateNotebook
      summary: Change title, visibility, or the attached share (FR-H15, FR-H17)
      description: |
        Account rights (session or `main_server`) or the device that created the notebook.
        `share_id` must be a share published by a device of the same account; `null` detaches.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              additionalProperties: false
              properties:
                title: {type: string, minLength: 1, maxLength: 120}
                visibility: {$ref: "#/components/schemas/Visibility"}
                share_id: {type: [string, "null"], pattern: "^s_[0-9a-f]{16}$"}
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Notebook"}
        "400":
          description: Malformed body.
        "401":
          description: No valid session or device token.
        "403":
          description: Not allowed to change this notebook, or a cross-origin cookie request.
        "404":
          description: Unknown notebook in the caller's reach, or the share is not published.
        "409":
          description: "`share_not_in_account`, or widening the visibility of a taken-down notebook."
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
    delete:
      tags: [Notebooks]
      operationId: deleteNotebook
      summary: Delete a notebook and every version (FR-H18)
      description: Account rights or the creating device. Content is removed from storage at once, or by the hourly cron within 24 hours.
      responses:
        "204":
          description: Deleted.
        "401":
          description: No valid session or device token.
        "403":
          description: Not allowed, or a cross-origin cookie request.
        "404":
          description: Unknown notebook in the caller's reach.

  /v1/notebooks/{notebook_id}/versions:
    parameters:
      - $ref: "#/components/parameters/NotebookId"
    post:
      tags: [Notebooks]
      operationId: pushNotebookVersion
      summary: Add a version (FR-H14)
      description: |
        A session or a `main_server`/`computer` device token of the owning account.
        `source` is the notebook file as it is on disk (UTF-8, no NUL, file name ending in
        `.py` or `.pynb`). `run` is optional: one run record from
        `__runs__/<file>/<run_id>.ipynb` (nbformat 4; outputs of type `stream`,
        `display_data`, `execute_result` or `error`). Sidecar logs are not uploaded. The new
        number is the notebook's highest number so far plus one, assigned atomically.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [source]
              properties:
                source: {type: string, format: binary, description: "The notebook file; its file name comes from Content-Disposition. At most 1 MiB."}
                run: {type: string, format: binary, description: "A run record (.ipynb). At most 16 MiB."}
                message: {type: string, maxLength: 500}
      responses:
        "201":
          description: Added.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/NotebookVersion"}
        "400":
          description: Malformed source (not UTF-8, NUL, bad file name) or run record (not nbformat 4, unknown output type).
        "401":
          description: No valid session or device token.
        "403":
          description: A `client` device, another account's device, or a cross-origin cookie request.
        "404":
          description: Unknown notebook in the caller's reach.
        "409":
          description: "`quota_exceeded` (versions per notebook or stored bytes, FR-H19)."
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
        "413":
          description: Source over 1 MiB, run over 16 MiB, or request over 18 MiB.
        "429":
          description: Too many uploads this minute (FR-H19).

  /v1/notebooks/{notebook_id}/versions/{version}:
    parameters:
      - $ref: "#/components/parameters/NotebookId"
      - $ref: "#/components/parameters/NotebookVersionRef"
    get:
      tags: [Notebooks]
      operationId: getNotebookVersion
      summary: One version's metadata
      security: [{}, {device: []}, {session: []}]
      responses:
        "200":
          description: The version.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/NotebookVersion"}
        "404":
          description: Unknown or deleted version, `latest` of a notebook with no versions, or not readable by the caller.
        "429":
          description: Too many anonymous reads (FR-H19).
    delete:
      tags: [Notebooks]
      operationId: deleteNotebookVersion
      summary: Delete one version (its number is never reused, FR-H18)
      responses:
        "204":
          description: Deleted.
        "401":
          description: No valid session or device token.
        "403":
          description: Not allowed, or a cross-origin cookie request.
        "404":
          description: Unknown version in the caller's reach.

  /v1/notebooks/{notebook_id}/versions/{version}/source:
    parameters:
      - $ref: "#/components/parameters/NotebookId"
      - $ref: "#/components/parameters/NotebookVersionRef"
    get:
      tags: [Notebooks]
      operationId: getNotebookSource
      summary: The version's notebook file, byte for byte
      description: |
        Sent with `X-Content-Type-Options: nosniff`, `Content-Security-Policy: sandbox;
        default-src 'none'`, `Content-Disposition: attachment` and `ETag: "<sha256>"`, so it
        never renders as a document (SPEC NFR-H3). `Cache-Control: private, max-age=60`.
      security: [{}, {device: []}, {session: []}]
      responses:
        "200":
          description: The file.
          content:
            text/plain:
              schema: {type: string}
        "304":
          description: Matches `If-None-Match`.
        "404":
          description: Unknown version or not readable by the caller.
        "429":
          description: Too many anonymous reads (FR-H19).

  /v1/notebooks/{notebook_id}/versions/{version}/run:
    parameters:
      - $ref: "#/components/parameters/NotebookId"
      - $ref: "#/components/parameters/NotebookVersionRef"
    get:
      tags: [Notebooks]
      operationId: getNotebookRun
      summary: The version's run record (nbformat 4), byte for byte
      description: Same headers as the source (SPEC NFR-H3).
      security: [{}, {device: []}, {session: []}]
      responses:
        "200":
          description: The run record.
          content:
            application/json:
              schema: {type: object}
        "304":
          description: Matches `If-None-Match`.
        "404":
          description: The version has no run record, is unknown, or is not readable by the caller.
        "429":
          description: Too many anonymous reads (FR-H19).

  /v1/notebooks/{notebook_id}/report:
    parameters:
      - $ref: "#/components/parameters/NotebookId"
    post:
      tags: [Notebooks]
      operationId: reportNotebook
      summary: Report a `public` or `unlisted` notebook to the operator (FR-H19)
      security: [{}, {session: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              additionalProperties: false
              properties:
                reason: {type: string, minLength: 1, maxLength: 1000}
      responses:
        "202":
          description: Recorded for the operator.
        "400":
          description: Malformed body.
        "404":
          description: Not readable by the caller.
        "429":
          description: Too many reports from this address.

  /admin/v1/notebooks/{notebook_id}/takedown:
    parameters:
      - $ref: "#/components/parameters/NotebookId"
    post:
      tags: [Notebooks]
      operationId: takeDownNotebook
      summary: Operator takedown (FR-H19)
      description: The notebook becomes 404 for everyone but its owner, who sees `taken_down`.
      security:
        - operatorSecret: []
      responses:
        "204":
          description: Taken down (also when it already was).
        "401":
          description: Operator secret missing or wrong.
        "404":
          description: Unknown notebook.
    delete:
      tags: [Notebooks]
      operationId: restoreNotebook
      summary: Undo an operator takedown
      security:
        - operatorSecret: []
      responses:
        "204":
          description: Restored.
        "401":
          description: Operator secret missing or wrong.
        "404":
          description: Unknown notebook.

  # ------------------------------------------------------------------ names (FR-H5)

  /v1/names:
    get:
      tags: [Names]
      operationId: listNames
      summary: Names reserved by the caller's account
      responses:
        "200":
          description: Names.
          content:
            application/json:
              schema:
                type: object
                required: [names]
                properties:
                  names:
                    type: array
                    items: {$ref: "#/components/schemas/Name"}
        "401":
          description: No valid session or device token.

  /v1/names/{name}:
    parameters:
      - $ref: "#/components/parameters/Name"
    put:
      tags: [Names]
      operationId: reserveName
      summary: Reserve `<name>.darkpyonix.dev` for the calling main server
      description: Requires the device token of a device with role `main_server`.
      responses:
        "200":
          description: Already reserved by this device.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Name"}
        "201":
          description: Reserved.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Name"}
        "400":
          description: Malformed or reserved word.
        "401":
          description: Missing or invalid device token.
        "403":
          description: The caller is not a main server.
        "409":
          description: Taken by another device.
    delete:
      tags: [Names]
      operationId: releaseName
      summary: Release a name (and clear its challenge records)
      description: The holding device, or account rights.
      responses:
        "204":
          description: Released.
        "401":
          description: No valid session or device token.
        "403":
          description: Cross-origin cookie request.
        "404":
          description: Not reserved in the caller's reach.

  /v1/names/{name}/acme-challenge:
    parameters:
      - $ref: "#/components/parameters/Name"
    put:
      tags: [Names]
      operationId: setAcmeChallenge
      summary: Publish `_acme-challenge.<name>.darkpyonix.dev` TXT values for ACME DNS-01
      description: |
        The main server runs its own ACME client and keeps its private key; the hub only
        publishes the TXT values through the Cloudflare DNS API (SPEC FR-H5 option A), in one
        atomic batch that replaces any previous values (TTL 60 s).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [values]
              properties:
                values:
                  type: array
                  minItems: 1
                  maxItems: 4
                  items: {type: string, pattern: "^[A-Za-z0-9_-]{43}$", description: Base64url SHA-256 key authorization digest.}
      responses:
        "204":
          description: Published.
        "400":
          description: Malformed values.
        "401":
          description: Missing or invalid device token.
        "404":
          description: Not reserved by the calling device.
        "502":
          description: No DNS provider is configured, or Cloudflare refused the change.
    delete:
      tags: [Names]
      operationId: clearAcmeChallenge
      summary: Remove the challenge TXT values
      responses:
        "204":
          description: Removed.
        "401":
          description: Missing or invalid device token.
        "404":
          description: Not reserved by the calling device.
        "502":
          description: No DNS provider is configured, or Cloudflare refused the change.

components:
  securitySchemes:
    device:
      type: http
      scheme: bearer
      description: A device token (`dpd_...`), as each operation states.
    session:
      type: apiKey
      in: cookie
      name: __Host-dp_session
      description: Browser session after GitHub sign-in.
    relaySecret:
      type: http
      scheme: bearer
      description: The secret shared by the Worker and the relay host (`RELAY_SHARED_SECRET`).
    operatorSecret:
      type: http
      scheme: bearer
      description: The hub operator's secret (`OPERATOR_SECRET`), for takedowns (FR-H19).
  parameters:
    EndpointId:
      name: endpoint_id
      in: path
      required: true
      description: iroh endpoint id, lowercase hex of the ed25519 public key.
      schema: {type: string, pattern: "^[0-9a-f]{64}$"}
    ShareId:
      name: share_id
      in: path
      required: true
      schema: {type: string, pattern: "^s_[0-9a-f]{16}$"}
    Name:
      name: name
      in: path
      required: true
      schema: {type: string, pattern: "^[a-z0-9]([a-z0-9-]{1,30}[a-z0-9])$"}
    NotebookId:
      name: notebook_id
      in: path
      required: true
      schema: {type: string, pattern: "^n_[0-9a-f]{32}$"}
    NotebookVersionRef:
      name: version
      in: path
      required: true
      description: A version number, or `latest`.
      schema:
        oneOf:
          - {type: integer, minimum: 1}
          - {type: string, const: latest}
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error: {type: string, description: Human-readable.}
        code:
          type: string
          description: Machine-readable, where documented. Every 401 has one.
          enum: [invalid_credentials, device_removed, main_server_exists, replace_mismatch, quota_exceeded, share_not_in_account]
    Device:
      type: object
      required: [endpoint_id, name, role, created_at, last_seen, online, app]
      properties:
        endpoint_id: {type: string, pattern: "^[0-9a-f]{64}$"}
        name: {type: string}
        role: {type: string, enum: [main_server, computer, client]}
        created_at: {type: integer, description: Unix seconds.}
        last_seen: {type: [integer, "null"], description: Unix seconds of the last relay admission, presence report or address publish.}
        online: {type: boolean, description: Connected to the relay host now, as it last reported.}
        app:
          description: What the device says it runs (FR-H10); self-reported, a hint only.
          oneOf:
            - {$ref: "#/components/schemas/DeviceApp"}
            - {type: "null"}
    RemovedDevice:
      type: object
      required: [endpoint_id, name, role, created_at, removed_at, readmit_until]
      properties:
        endpoint_id: {type: string, pattern: "^[0-9a-f]{64}$"}
        name: {type: string, description: Its name when it was removed.}
        role: {type: string, enum: [main_server, computer, client], description: Its role when it was removed.}
        created_at: {type: integer, description: Unix seconds it first joined.}
        removed_at: {type: integer, description: Unix seconds it was removed.}
        readmit_until:
          type: [integer, "null"]
          description: While a re-admission is open (`POST /v1/devices/{endpoint_id}/readmit`), its expiry in Unix seconds; else null.
    DeviceApp:
      type: object
      required: [kind, version, services]
      additionalProperties: false
      description: In a request `services` may be left out (empty).
      properties:
        kind: {type: string, pattern: "^[a-z][a-z0-9-]{0,31}$", example: ember}
        version: {type: string, pattern: "^[0-9A-Za-z][0-9A-Za-z.+-]{0,31}$", example: "0.4.0"}
        services:
          type: array
          maxItems: 16
          uniqueItems: true
          items: {type: string, pattern: "^[a-z][a-z0-9-]{0,31}$"}
          example: [kernel-manager, ash-host]
    AddressRecord:
      type: object
      required: [endpoint_id, relay_urls, direct_addresses, published_at_us, signed_packet]
      properties:
        endpoint_id: {type: string}
        relay_urls: {type: array, items: {type: string}}
        direct_addresses: {type: array, items: {type: string, description: "ip:port"}}
        published_at_us: {type: integer, description: The packet's signed timestamp, microseconds since the epoch.}
        signed_packet: {type: string, description: "The pkarr relay payload, base64url without padding, for end-to-end verification."}
    Name:
      type: object
      required: [name, fqdn, endpoint_id]
      properties:
        name: {type: string}
        fqdn: {type: string, example: "studio.darkpyonix.dev"}
        endpoint_id: {type: string}
    Visibility:
      type: string
      enum: [private, unlisted, public]
      default: private
      description: "`private`: the owning account only. `unlisted`: anyone with the id, never listed, noindex. `public`: anyone, listed under the user (FR-H15)."
    Notebook:
      type: object
      required: [notebook_id, owner, title, visibility, share_id, latest_version, created_at, updated_at, taken_down]
      properties:
        notebook_id: {type: string, pattern: "^n_[0-9a-f]{32}$"}
        owner:
          type: object
          required: [github_login]
          properties:
            github_login: {type: string, description: Display only.}
        title: {type: string}
        visibility: {$ref: "#/components/schemas/Visibility"}
        share_id:
          type: [string, "null"]
          description: The attached share for opening the owner's live kernel (FR-H17). Without the share token (URL fragment) it grants nothing.
        latest_version: {type: [integer, "null"], description: Highest remaining version; null when none.}
        created_at: {type: integer, description: Unix seconds.}
        updated_at: {type: integer, description: Unix seconds.}
        taken_down: {type: boolean, description: Operator takedown (FR-H19); only the owner ever sees true.}
    NotebookVersion:
      type: object
      required: [version, created_at, message, source, run]
      properties:
        version: {type: integer, minimum: 1}
        created_at: {type: integer, description: Unix seconds.}
        message: {type: [string, "null"]}
        source:
          type: object
          required: [filename, sha256, size, cells]
          properties:
            filename: {type: string, example: train.py}
            sha256: {type: string, pattern: "^[0-9a-f]{64}$"}
            size: {type: integer}
            cells: {type: integer, description: Cell count by docs/FORMAT.md §2.2 markers (the preamble not counted).}
        run:
          oneOf:
            - type: object
              required: [run_id, sha256, size]
              properties:
                run_id: {type: string, example: 20261003-142233-a1f0}
                sha256: {type: string, pattern: "^[0-9a-f]{64}$"}
                size: {type: integer}
            - {type: "null"}
